<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仓库列表</title>
    <style>
        table tr td{
            padding:10px;
            border:solid 1px #ccc;
        }
        table tr th{
            padding:10px;
            border:solid 1px #ccc;
        }
    </style>
</head>
<body>
    <div id='ddiv'>
        
    <table border="1">
		<h2>仓库</h2>
        <tr>
            <th>商品类别</th>
            <th>商品信息</th>
            <th>数量</th>
            <th>产地</th>
            <th>单位</th>
            <th>规格</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        {% for goods in goods_all %}
        <tr>
            <td>{{ goods.goods_sort.name }}</td>
            <td>{{ goods.name }}</td>
            <td>{{ goods.number }}</td>
            <td>{{ goods.area }}</td>
            <td>{{ goods.unit }}</td>
            <td>{{ goods.spec }}</td>
            <td>{{ goods.remark }}</td>
            <td>
                <a href="/goodslist/update/{{ goods.id }}">更新(维护中)</a>
                <a href="/goodslist/delete/{{ goods.id }}">删除</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <form action="/goodslist/addsort/" method="get">
        <input type="submit" value="添加商品类别" name="addsort">
    </form>
    <form action="/goodslist/addinfo/" method="get">
        <input type="submit" value="添加商品信息" name="addinfo">
    </form>
</form>
</body>
</html>